.inputfile__label {
    font-size: 1rem;
    color: white;
    background-color: transparent;
    display: inline-block;
    padding: 6px;
    width: 160px;
    border-radius: 5px;
    border: 1px dashed white;
    text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(34, 34, 38);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile-container {
}